.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:10px;
    padding-bottom: 100px;
  }

 
  .cart h1{
    
     color:#095809;
  }
  
  
  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px #186218;
    border-radius: 25px;
    margin: 30px;
    gap: 20px;
  }
  
  .cartItem img {
    width: 200px;
    text-align:center;
    margin-left: 3px;
    gap: 5px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
    color:#095809;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
    color:#095809;
    
    
  }
  .countHandler button {

    color:#095809;
    
  }
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: #186218;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
  
  .checkout b{
    font-size: x-large;
    font-style: Poppins;
    color: #095809;
    margin-left:100px;
  }
  