.Home{
    padding-bottom: 1700px;
  }
  
  
  
  .home-image-section {
    position: absolute;
    max-width: 600px;
    flex: 2;
    z-index: 1;
    top: 200px;
   left: 910px;
   
   
  
  }
  
  .OrganicContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
  } 
  
  
  .NavIcon2 {
    width: 40px;
     height: 40px; 
     left: 586px;
    top: 316px;
     position: absolute;
  }
  
  .primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #6a6a6a;
    margin: 1.5rem 0rem;
  }
  
  
  
  
  .organic-farm-group,
  .organic-farm-group * {
    box-sizing: border-box;
    
  
  }
  .organic-farm-group {
    position: absolute;
    inset: 0;
  }
  .navigation-arrow-2 {
    width: 40px;
    height: 40px;
    position: static;
  }
  
  .navigation-arrow-1 {
    width: 40px;
    height: 40px;
    position: static;
  }
  .NavIcon2 {
    position: absolute;
    left: 750px;
    top: 5px;
    overflow: visible;
  }
  
  
  .NavIcon22 {
      position: absolute;
    left: 1100px;
    top: 5px;
    overflow: visible;
  }
  .shop-now-button {
    width: 176px;
    height: 53px;
    position: absolute;
    left: 140px;
    top: 722px;
  }
  .rectangle-1 {
    background: #0e5b0d;
    border-radius: 48px;
    width: 176px;
    height: 52px;
    position: absolute;
    left:   -40px;
    top: 0px;
  }
  .shop-now {
    color: #ffffff;
    text-align: center;
    font: 700 14px "Poppins", sans-serif;
    position: absolute;
    right:40px;
    top: 1px;
    width: 176px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .organic-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 585px;
    height: 259px;
    position: absolute;
    left: 102px;
    top: 421px;
  }
  
  .organic-farm-produce {
    color: #095809;
    text-align: left;
    font: 700 50px "Poppins", sans-serif;
    position: relative;
    width: 599.6px;
    height: 67.92px;
    transform-origin: 0 0;
    transform: rotate(0.329deg) scale(1, 1);
  }
  
  
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-molestie-id-pellentesque-sit-dolor-scelerisque-tempus-duis-tellus-tellus-suscipit-sed-quis-lacus-enim-convallis-amet-quis-morbi-vel-pellentesque-amet-quam {
    color: #000000;
    text-align: left;
    font: 400 14px "Poppins", sans-serif;
    position: relative;
    width: 585.43px;
    height: 68.95px;
    transform-origin: 0 0;
    transform: rotate(0.329deg) scale(1, 1);
  }
  
  
  
  
    .question-group-all {
      display: flex;
      flex-direction: column;
      gap: 21px;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
     
      top: 2650px;
    }
    .question-text {
      color: #095809;
      text-align: left;
      font: 700 40px "Poppins", sans-serif;
      position: relative;
      width: 550.07px;
      height: 53.38px;
      left: 250px;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-molestie-id-pellentesque-sit-dolor-scelerisque-tempus-duis-tellus-tellus-suscipit-sed-quis-lacus-enim-convallis-amet-quis-morbi-vel-pellentesque-amet-quam {
      color: #000000;
      text-align: center;
      font: 400 14px "Poppins", sans-serif;
      position: relative;
      width: 1108.96px;
      height: 51.71px;
      
      left: 140px;
  
  
      transform-origin: 0 0;
      transform: rotate(0.278deg) scale(1, 1);
    }
    .assist-button {
      flex-shrink: 0;
      width: 181.98px;
      height: 61.5px;
      position: static;
      background: #0e5b0d;
      border-radius: 48px;
      width: 181.98px;
      height: 60.34px;
      position: absolute;
      left: 650px;
      top: 154.59px;
    }
   
    .assist-me {
      color: #ffffff;
      text-align: center;
      font: 700 14px "Poppins", sans-serif;
      position: absolute;
      left: 650px;
      top: 155.75px;
      width: 181.98px;
      height: 60.34px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  
  
  
  
  
  
  
  
  
  
  
  