.testimonial-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 50px;
  text-align: center;

}

.testimonial-image {
  margin-bottom: 10px;
}

.testimonial-image img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 4px #186218;
}


.testimonial-page h1 {
  color: #186218;
}

.testimonial-item {
  margin: 20px 0;
  padding: 20px;
  background-color: fffff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px #186218;
}

.testimonial-content {
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial-info {
  margin-top: 20px;
}

.testimonial-name {
  font-size: 16px;
  font-weight: bold;
  color: #186218;
}

.testimonial-position {
  font-size: 14px;
  color: #777;
}
